@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    text-decoration: none !important;
}

body{
    background-size: contain;
    background-image: url(img/pattern.jpg);
}

.hover_big{
    transition: all 1s;
}

.hover_big:hover{
    transform: scale(1.1);
}

.text_right{
    text-align: right;
}

.text_title{
    font-family: "Philosopher";
    font-size: 10rem;
}

.text_arrow{
    font-size: 1.3rem;
}

.food_one{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://fakeimg.pl/1920x1080/");
}

.main_img{
    padding-top: 55vh;
    padding-bottom: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/home.jpg");
}

.menu{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu_text{
    padding: 1rem;
    padding-top: 85%;
}

.menu_food{
    background-image: url("img/menu-kuliner.jpg");
}

.menu_history{
    background-image: url("img/menu-sejarah.jpg");
}

footer a img{
    height: 50px;
    width: 50px;
}

footer{
    background-color: #412617;
}

.foot_logo{
    height: 100px !important;
    width: 100px !important;
}


@media screen and (max-width: 760px) {
    .text_center_md{
        text-align: center;
    }
    
    .text_title{
        font-size: 5rem;
    }
}
